runner:
  type: PipelineRunner
  device: cpu
  max_iters: 1

datasets:
  train:
    type: NuScenesLidarFusionDataset
    dataroot: data/v1.0-mini
    version: v1.0-mini
    split: mini_train
    load_annotations: false
    camera_channels: [CAM_FRONT, CAM_FRONT_LEFT, CAM_FRONT_RIGHT, CAM_BACK, CAM_BACK_LEFT, CAM_BACK_RIGHT]
    pipeline:
      - type: FuseProjection
        cameras: [CAM_FRONT, CAM_FRONT_LEFT, CAM_FRONT_RIGHT, CAM_BACK, CAM_BACK_LEFT, CAM_BACK_RIGHT]
        keep_metadata: false

dataloaders:
  train:
    batch_size: 1
    shuffle: false
    num_workers: 0
    collate_fn:
      type: projection_collate

model:
  type: BEVVisualizationModel
  cameras: [CAM_FRONT, CAM_FRONT_LEFT, CAM_FRONT_RIGHT, CAM_BACK, CAM_BACK_LEFT, CAM_BACK_RIGHT]
  backbone:
    type: LightBackbone
    in_channels: 3
    stem_channels: 32
    cat_dim: 0
    out_strides: [8, 16, 32]
    stride_out: 8
  neck:
    type: FPN
    in_channels: [96, 128, 256]
    out_channels: 48
    num_outs: 4
    sep_conv: false
  view_selector:
    type: ViewSelector
    index: [0, 1, 2, 3, 4, 5]
    total_views: 6
  sampler:
    type: DeformablePointSample
    point_cloud_range: [-60.0, -60.0, -4.0, 140.0, 60.0, 4.0]
    voxel_size: [1.0, 1.0, 2.0]
    n_voxels: [75, 60, 6]
    anchor_generator:
      type: AlignedAnchor3DRangeGenerator
    embed_dims: 48
    num_levels: 3
    num_cams: 3

hooks:
  - type: VisualizationHook
    interval: 1
    visualizers:
      - type: FeatureGridVisualizer
        output: outputs/light_backbone_features1.png
        channels: 8
        cols: 4
      - type: BEVHeatmapVisualizer
        output: outputs/sample_bev.png
        reduction: mean
        channel: 0
        colormap: magma
      - type: VoxelGridVisualizer
        output: outputs/voxel_grid.png
        max_points: 20000
        elev: 25
        azim: -45
